{% extends 'base.html.twig' %}

{% block title %}Ajout/Modif chat{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">
{% if (app.request.attributes.get('_route')=="admin_chat_ajout") %}
    Ajout
{% else %}
    Modification
{% endif %}
    d'un produit pour chat</h1>


{{form_start(formChat, {'attr':{'novalidate' :  'novalidate'}})}}

<div class="row">
    <div class="col">
    <p>
    <div class="col">{{form_row(formChat.nom)}}
    </p>
    <p>
    <div class="col">{{form_row(formChat.description)}}
    </p>
    <div class="col">{{form_row(formChat.prix)}}
    </div>
    <p>
    <div>
    <div class="col">{{form_row(formChat.imageFile)}}
    </div>
    </p>
    <div class="row">
    <div class="col-4">
        <img src="{{asset("images/" ~ formChat.image.vars.value)}}" alt="" class="rounded mx auto d-block img thumbnail">
    <div>

    </div>
    </div>
</div>

<div class="row">
    <div class="col"><a href="{{path ('admin_chats')}}" class="btn btn-warning btn-block" >Annuler</a></div>
    <div class="col"><input type="submit", class="btn btn-success btn-block" value=
{% if (app.request.attributes.get('_route')=="admin_chat_ajout") %}
    "Ajouter un produit pour chat"
{% else %}
    "Modifier le produit"
{% endif %}></div>
</div>
 


{{form_end(formChat)}}
{% endblock %}