{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Liste des produits</h1>
<hr>

{% endfor %}
<<<<<<< HEAD
<hr>
<div class="row pt-2">
{% for leCheval in lesChevaux %}
{% if leCheval.prix == leCheval.prix %} {% set color = "lightgreen" %}{% endif %}
<div class="col-sm-12.col-md-4.col-lg-4.col col-xl-3">

    {% set nbChevaux = leCheval|length %}
        
        <div class="card mb-3">
            <h3 class="card-header"> <a href="{{path('ficheCheval', {'id': leCheval.id })}} ">{{leCheval.nom}} </a></h3>
            <div class="card-body">
            <img class = "avatar mx auto d-block" src="{{asset("images/" ~ leCheval.image)}}" class="d-block user-select-none" width="200px" height="auto"</img> 
            </div>
            <div class="card-body">
            <p class="card-text">{{leCheval.description|slice(0,200)|raw}}...</p>
            <div class="col">
            <ul class="list-group list-group-flush-center">
            <li class="list-group-item">
            <span style="background-color: {{ color }};" class="card-text">{{leCheval.prix}}$</span></li> </ul>

            </div>
        </div>
</div>
{% endfor %}

</div>
=======
>>>>>>> d6114eb3ef59fcd03a7ef7b76d4d2ca1340f0502
</div>
{% endblock %}
