{% extends 'base.html.twig' %}

{% block title %}Listes des chats{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">liste des produits pour chat</h1>
<hr>
<div class="row pt-2"> 
{% for leChat in lesChats %}
    <div class="col-sm-12 col-md-4 col-lg-4 col col-xl-3">
            <div class="card mb-3">
                <h3 class="card-header"> <a href="{{path('ficheChat',{'id':leChat.id})}}">{{leChat.nom}}</a> </h3>
                <div class="card-body">
                    <h5 class="card-title">
                    <a href="{{path('ficheChat', {'id' : leChat.chat.id})}}" class="badge.badge-success"> 
                    {{leChat.chat.nom}} 
                    </a>
                    </h5> 
                </div>
                    <p class="card-text">{{leChat.description}}</p>
                </div>
            </div>
    </div>
{% endfor %}
</div>
{% endblock %}
