{% extends 'base.html.twig' %}

{% block title %}Ajout/Modif chien{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">
{% if (app.request.attributes.get('_route')=="admin_chien_ajout") %}
    Ajout
{% else %}
    Modification
{% endif %}
    d'un produit pour chien</h1>


{{form_start(formChien, {'attr':{'novalidate' :  'novalidate'}})}}

<div class="row">
    <div class="col">{{form_row(formChien.nom)}}</div>
    <div class="col">{{form_row(formChien.image)}}</div>
</div>
    <div class="row">
    <div class="col">{{form_row(formChien.description)}}</div>
    <div class="col">{{form_row(formChien.prix)}}</div>
</div>

<div class="row">
    <div class="col"><a href="{{path ('admin_chiens')}}" class="btn btn-warning btn-block" >Annuler</a></div>
    <div class="col"><input type="submit", class="btn btn-success btn-block" value=
{% if (app.request.attributes.get('_route')=="admin_chien_ajout") %}
    "Ajouter un produit pour chien"
{% else %}
    "Modifier le produit"
{% endif %}></div>
</div>
 


{{form_end(formChien)}}
{% endblock %}