{% extends 'base.html.twig' %}

{% block title %}Ajout/Modif cheval{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">
{% if (app.request.attributes.get('_route')=="admin_cheval_ajout") %}
    Ajout
{% else %}
    Modification
{% endif %}
    d'un produit pour cheval</h1>


{{form_start(formCheval, {'attr':{'novalidate' :  'novalidate'}})}}

<div class="row">
    <div class="col">{{form_row(formCheval.nom)}}</div>
    <div class="col">{{form_row(formCheval.image)}}</div>
</div>
    <div class="row">
    <div class="col">{{form_row(formCheval.description)}}</div>
    <div class="col">{{form_row(formCheval.prix)}}</div>
</div>

<div class="row">
    <div class="col"><a href="{{path ('admin_chevals')}}" class="btn btn-warning btn-block" >Annuler</a></div>
    <div class="col"><input type="submit", class="btn btn-success btn-block" value=
{% if (app.request.attributes.get('_route')=="admin_cheval_ajout") %}
    "Ajouter un produit pour cheval"
{% else %}
    "Modifier le produit"
{% endif %}></div>
</div>
 


{{form_end(formCheval)}}
{% endblock %}